<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: head">
</head>
<body>
	<div th:replace="common/fragments :: header"></div>
	<div th:replace="common/fragments :: messages"></div>
	
	<main class="container-fluid">
		<div class="row">
			<div class="col">
				<a th:href="@{/events/create}" class="btn btn-primary btn-sm mb-3">Create Event</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table table-hover">
					<thead class="eventThead">
						<tr>
							<th>Volunteer Name</th>
							<th>Event Title</th>
							<th>Description</th>
							<th>Location</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="event : ${events}">
							<!-- <td th:text="${event.volunteersFormatted}"></td> -->
							<td><a th:href="@{${'/events/detail/'+event.uid}}" th:text="${event.volunteersFormatted}"></a></td>
							<td th:text="${event.title}"></td>
							<td th:text="${event.description}"></td>
							<td th:text="${event.location}"></td>
							<!-- <td th:text="${event.startDate}"></td> -->
							<td th:text="${#temporals.format(event.startDate, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>